.skills {
  min-height: auto;
  padding-bottom: 7rem;
  background: var(--second-bg-color);
}

.skills h2 {
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.skills-row .skills-column {
  flex: 1 1 40rem;
}

.skills-column .title {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
  color: var(--text-color);
}

.skills-column .skills-box {
  position: relative;
}

.skills-box .skills-content {
  position: relative;
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  padding: 2rem 1.5rem;
  background: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: .3s ease;
}

.skills-box .skills-content:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(237, 51, 5, 0.1);
}

.skills-content .progress {
  padding: 1.5rem 0;
}

.skills-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.skills-content .progress h3 span {
  color: var(--main-color);
  font-weight: 600;
}

.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
  padding: .5rem;
  margin: 1rem 0;
  background: var(--second-bg-color);
}

.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: .3rem;
  background: var(--main-color);
  transition: width 1s ease-in-out;
}