.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
  background: var(--bg-color);
}

.education .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-row .education-column {
  flex: 1 1 40rem;
}

.education-column .title {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
  color: var(--text-color);
}

.education-column .education-box {
  position: relative;
  border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
  position: relative;
  padding-left: 2rem;
}

.education-box .education-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 50%;
}

.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  margin-bottom: 2rem;
  background: var(--bg-color);
  transition: .3s ease;
}

.education-content .content:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(237, 51, 5, 0.1);
}

.education-content .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: .5rem;
  font-weight: 600;
}

.education-content .content .year i {
  padding-right: .5rem;
}

.education-content .content h3 {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.education-content .content p {
  font-size: 1.6rem;
  color: var(--text-color);
  padding-top: .5rem;
  line-height: 1.5;
}